@model Models.Equip

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Equipe</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Estado </label>
                <select style="width: 100px">
                    <option value="SP">SP</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cidade </label>
                <select style="width: 300px" asp-for="City" id="City">
                    @{
                        foreach (var city in @ViewBag.Cities)
                        {
                            <option value="@city.Name">@city.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Pessoas na Equipe</label><br />
                @foreach (var person in Model.People)
                {
                    <input type="checkbox" name="selectedPeople" value="@person.Name" id="@person.Name" class="form-check-inline" checked />
                    <label for="@person.Name">@person.Name</label>
                    <br />
                }
            </div>
            <div class="form-group">
                <label>Pessoas Disponíveis</label><br />
                @foreach (var person in @ViewBag.PeopleWithoutEquip)
                {
                    <input type="checkbox" name="selectedPeopleWithoutEquip" value="@person.Name" id="@person.Name" class="form-check-inline" />
                    <label for="@person.Name">@person.Name</label>
                    <br />
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-warning" />
            </div>
        </form>
        <br />
        <a asp-action="Index">Voltar para a listagem</a>
    </div>
</div>