@model IEnumerable<Models.Equip>

@{
    ViewData["Title"] = "Equipes";
}

<h1>Equipes</h1>
<hr />


@if (!ViewBag.Authenticate)
{
    <div class="row h5">
        <div class="col-md-12">
            <span>Para acessar essa página, é necessário estar logado no sistema.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 m-1">
            <form method="post" asp-controller="Login" asp-action="Index">
                <input class="btn btn-link" type="submit" value="Entrar" />
            </form>
        </div>
    </div>
}
else
{
    <p>
        <a asp-action="Create">Cadastrar Equipe</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.People)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="text-center">
                        <select style="width: 200px">
                        @for (var i = 0; i < item.People.Count; i++)
                        {
                            <option value="@item.People[i].Name">@item.People[i].Name</option>
                        }
                        </select>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}