@model Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login de Usuário</h1>
<br />

@if (ViewBag.User == "temp")
{
    <div class="row h5">
        <div class="col-md-12">
            <span>Você está logado no sistema com uma conta temporária. Favor clicar no link abaixo para criar sua conta.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 m-1">
            <form method="post" asp-controller="Login" asp-action="EditTemp">
                <input class="btn btn-link" type="submit" value="Criar Conta" />
            </form>
        </div>
    </div>
}
else @if (@ViewBag.Authenticate)
{
    <div class="row">
        <div class="col-md-2">
            <h5>Olá, @ViewBag.User!</h5>
        </div>
    </div>
    <br />
    if (@ViewBag.Role == "adm")
    {
        <p>
            Deseja criar uma conta?
            <a asp-action="Create">Criar Conta</a>
        </p>
        <br />
        <h4>Gerenciamento de Usuários</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Nome</label>
                    </th>
                    <th class="text-center">
                        <label>Usuário</label>
                    </th>
                    <th class="text-center">
                        <label>Tipo</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @ViewBag.Users)
                {
                    <tr>
                        <td>
                            <label>@user.Name</label>
                        </td>
                        <td class="text-center">
                            <label>@user.Username</label>
                        </td>
                        <td class="text-center">
                            <label>@user.Role</label>
                        </td>
                        <td class="text-center">
                            <a asp-action="EditUser" asp-route-id="@user.Id">Editar</a>   |
                            <a asp-action="DeleteUser" asp-route-id="@user.Id">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h4>Gerenciamento de Documentos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Documentos em Diretório</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in @ViewBag.Files)
                {
                    <tr>
                        <td>
                            <label>@file.FileName</label>
                        </td>
                        <td>
                            @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })   |
                            <a asp-action="DeleteFile" asp-route-id="@file.FileName"> Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <h4>Bem-vindo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
        </div>
    </div>
    <br />
}


